* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('grid-g5cded515f_1920.jpg');
}

.brand-width {
    max-width: 20ch;
}

.rw-global {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.rw-font {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0.7rem;
}

.image-wrapper {
    background-image: url('medical-g01745ff0f_1920.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 32rem;
    color: white;
    background-color: black;
}

.overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.carousel-textbox {
    color: white;
    background-color: rgba(15, 9, 94, 0.733);
    position: absolute;
    bottom: 0;
    padding: 2rem;
    margin-bottom: 5rem;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}

.doc-title {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.doc-list {
    width: 100%;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.doc-entry-form {
    margin: 1rem 0;
}

.form-header {
    text-align: center;
}

.doc-overflow {
    height: 65%;
    overflow: auto;
}
